<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>./</directory>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
